body, html {
    font-family: $raleway;
    height: 100%;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.fade-in.slow {
    animation-delay: 0.3s;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

// LOGO HEADER ----------------------

.logo-wrapper {
    height: 275px;
    width: 100%;
    background-color: black;
    position: relative;
    img {
        position: absolute;
        width: 100px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// PAGE TITLE ----------------------

.title {
    height: 110px;
    h1 {
        text-align: center;
        width: 100%;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        a {
            text-decoration: none;
            color: black;
        } 
    }
}

.title-fixed {
    top: 0;
    z-index: 101;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 60px;
    opacity: 0.95;
    a {
        transition: all 0.5s ease-in-out;
    }
}

.skip-fix-title {
    // height: 60px;
}

// NAV BAR -------------------------

.nav {
    height: 46px;
    background-color: $nav-back;
    ul {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    li {
        display: inline;
        margin: 0 15px;
        a {
            color: $gold;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            font-weight: 400;
            transition: all .2s ease-in-out;
        }       
    }
}

.nav-fixed {
    top: 60px;
    z-index: 100;
    position: fixed;
    width: 100%;
    opacity: 0.95;
}

.skip-fix-nav {
    height: 40px;
}


// PRODUCTS SECTION -------------------

.products {
    text-align: center;
    margin: 30px 0;
    img {
        margin-top: 4px;
    }
}

#p-link {
    padding-top: 91px;
    margin-top: -91px;
}

// STORY SECTION ---------------------

.story {
    h2 {
        position: relative;
        width: 100%;
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: 50px 0 10px 0;
    }
    p {
        color: black;
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 50px;
    }
}

#s-link {
    padding-top: 60px;
    margin-top: -60px;
}    


// CONTACT SECTION -------------------

.contact {
    height: 140px;
    h2 {
        position: relative;
        width: 100%;
        color: black;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: 50px 0 10px 0;
    }
    a, li {
        font-size: 16px;
        line-height: 28px;
    }

    .contact-item {
        padding: 0;
    }

    .contact-link {
        margin: 0 -10px;
        a {
            color: $gold;
            text-decoration: none;
        }
        a:visited {
            color: $gold;
            text-decoration: none;
        }
    }
#c-link {
    padding-top: 91px;
    margin-top: -91px;
}    
}

// FOOTER SECTION ----------------------

footer {
    background-color: $nav-back;
    height: 100px;
    ul {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        li {
            margin-top: 20px;
            a {
                text-transform: uppercase;
                color: black;
                font-size: 50px;
                letter-spacing: 2px;
                font-weight: 500;
                text-decoration: none;
                a:visited {
                    text-decoration: none;
                    color: black;
                }
            }
        }   
    }    
}

// HOVER CLASSES ----------------------

a:hover {
    color: black;
    text-decoration: none;
}

// .black:hover {
//     color: black;
//     text-decoration: none;
// }

// SCREEN SIZE DESIGNATION

.screen-size p {
    position: relative;
    color: gray;
}

// SMALL TABLET ----------------------------
@media screen and (min-width: 480px) {
    .title h1 a {
        color: red;
    }
}

// LARGE TABLET --------------------------------
@media screen and (min-width: 768px) {
    .title h1 a {
        color: orange;
        font-size: 30px;
    }
    .title {
        height: 110px;
    }
    .nav {
        height: 46px;
        li a {
            margin: 0 16px;
        }
    }
    .logo-wrapper img {
        width: 20%;
    }
}

// SMALL LAPTOP/DESKTOP -----------------------
@media screen and (min-width: 992px) {
    .title h1 a {
        color: yellow;
    }
}    

// MEDIUM LAPTOP/DESKTOP ----------------------
@media screen and (min-width: 1200px) {
    .title h1 a {
        color: green;
    }
}       

// LARGE LAPTOP/DESKTOP -----------------------
@media screen and (min-width: 1400px) {
    .title h1 a {
        color: blue;
    }
}      